.DS_Store
~$*
.vscode/
__pycache__/
*.pyc
*.log
logs/

OpenCV_proj/images/
OpenCV_proj/processed_images/


ocrnlp/weight_train_model/
ocrnlp/ocr_preprocess/


.DS_Store
OpenCV_proj/processed_images/0.tiff
